<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:s="http://www.springframework.org/schema/security"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans 
                            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
                            http://www.springframework.org/schema/security 
                            http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <s:http auto-config="true" use-expressions="true" >
        <s:form-login login-page="/login.jsf"
                      authentication-failure-url="/login.jsf?erro=true"
                      default-target-url="/sistema/template.jsf"/>         
        <s:intercept-url pattern="/sistema/**" access="hasRole('ROLE_USER')"/>
    </s:http>
    
    <s:authentication-manager>
        <s:authentication-provider>
            <s:jdbc-user-service 
                data-source-ref="dataSource"
                users-by-username-query="select username, password, ativo from usuario where username = ? and ativo = true"
                authorities-by-username-query="select a.id, a.perfil from usuario u, usuario_autorizacao ua, autorizacao a where u.id = ua.usuarios_id and u.username = ? group by a.id"/>
        </s:authentication-provider>
    </s:authentication-manager>
    
    <b:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <b:property name="url" value="jdbc:postgresql://localhost:5432/sabiabd" />
        <b:property name="driverClassName" value="org.postgresql.Driver" />
        <b:property name="username" value="usuario_sabia" />
        <b:property name="password" value="!{5@B1@.L@B1C@N}" />
    </b:bean>
</b:beans>
